/.vs/*/**
/.vs/config/applicationhost.config
/packages/*/**
/copy.bat/*/**

!/packages/*.dll

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.bat

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

/Web/AffW88Solution/packages
/Web/AffW88Solution/packages
Web/AffW88Solution/.vs/AffW88Solution/v14/.suo
