<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <!--New Promo config-->
    <add key="webPath" value="C:\Users\spiraluser\Documents\GitHub\Affiliate.MS.WWW\Web\AffW88Solution\AffW88Web.WAP\_toDeployStatic\promotions\content_main"/>
    <add key="webImgPath" value="C:\Users\spiraluser\Documents\GitHub\Affiliate.MS.WWW\Web\AffW88Solution\AffW88Web.WAP\_toDeployStatic\promotions\content_main\img"/>
    <add key="mobPath" value="C:\Users\spiraluser\Documents\GitHub\AFF_MOBILE\AffiliateMobile.Web\public\promotions\content_main"/>
    <add key="mobImgPath" value="C:\Users\spiraluser\Documents\GitHub\AFF_MOBILE\AffiliateMobile.Web\public\promotions\content_main\img"/>
    <add key="mobBuildPath" value="C:\Users\spiraluser\Documents\GitHub\AFF_MOBILE\AffiliateMobile.Web\build\static\promotions\content_main"/>
    <add key="mobImgBuildPath" value="C:\Users\spiraluser\Documents\GitHub\AFF_MOBILE\AffiliateMobile.Web\build\static\promotions\content_main\img"/>

    <!---New Languange Config-->
    <add key="affMobilePaths" value="account,
         bankaccount,
         commissionplans,
         common,
         downline,
         fundmanagement,
         home,
         home/products,
         login,
         nav,
         overview,
         paymenttype,
         productcategory,
         promotion,
         report,
         signup,
         tracking,
         termsandconditions"/>
    <add key="affWebPaths" value="AffW88Web.WAP\_static\commissionplans\content_main,
         AffW88Web.WAP\_static\contactus\content_header,
         AffW88Web.WAP\_static\faq,
         AffW88Web.WAP\_static\footer,
         AffW88Web.WAP\_static\home\content_main,
         AffW88Web.WAP\_static\ourproducts\content_main,
		 AffW88WebApi\App_Data\localization,
         AffW88WebApi.Localization\LocalResources,
         VisualCaptcha\LocalResources"/>
    <add key="paymentFTPath" value="C:\Users\spiraluser\Documents\GitHub\Payment.W88\FundTransfer"/>
    <add key="paymentFTPaths" value="App_LocalResources"/>
    <add key="languages" value="en-us,zh-cn,id-id,en-in,km-kh,ko-kr,th-th,vi-vn,en-au,es-mx,es-cl,es-pe,pt-br,tr-tr,en-ke"/>
    <add key="languageCountryCodes" value="EN,AU,IN,ID,KR,KH,TH,VN,CN,MX,PE,CL,BR,TR,KE"/>
    <add key="xmlErrorsTags" value="general,fundTransfer,promotion,claim,crypto"/>
	<add key="languagesUL" value="en-US,en-GB,zh-Hant,zh-Hans,de,es-419,fr-CA,it,ja,ko,pt"/>
	<add key="localizationFolders" value="industries,roles"/>
  </appSettings>
</configuration>
